.aqua-dashboard-page-container {

}

.aqua-dashboard-top-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.aqua-dashboard-main-content-container {
    padding: 10px 20px 30px;
    margin-top: 70px;
}

.aqua-dashboard-title {
    font-size: 1.5rem;
    margin-left: 15px;
}

.aqua-dashboard-auth-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.aqua-dashboard-user-name-container {
    margin-right: 25px;
    color: grey;
}

.aqua-dashboard-user-name-container > .aqua-user-name {
    font-weight: 500;
    color: black;
}

.aqua-dashboard-logout-button-container {
    display: flex;
}

.aqua-middle-widget-section-container {
    display: flex;
    margin: 25px 8px;
}