.aq-login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/public/aqua-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.aq-login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 50px;
    border-radius: 8px;
    background-color: white;
}

.aq-login-text-container {
    display: flex;
    flex-direction: column;
}

.aq-login-button-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.aq-login-logo {
    width: 100px;
    margin-bottom: 30px;
}
